<!DOCTYPE html>
<html lang="pt-br">
   
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>Automação Residencial</title>
        
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/style.css">
              
    </head>

    <body ng-app="myApp" ng-controller="myCtrl">      
        <div class="container">
            <div class="center">
                <div class="card">                
                    <div class="card-content row">
                      <h5 class="m-y">Controle</h5>
                      <form action="http://oneserver.dlinkddns.com/" method="get" target="blank">
                          <div class="col s12 m6 l4 m-y" ng-repeat="button in buttons"> 
                              <button type="submit" class="waves-effect waves-light btn" ng-attr-id="{{button.name}}" ng-click="situation()" ng-value="button.stat" name="{{button.name}}">{{button.label}}</button>
                              <p>{{button.name}}</p>                                                  
                          </div>
                          <div class="col s12 m6 l4 m-y" ng-repeat="layer in layers"> 
                              <input type="text" ng-value="layer.stat" ng-readonly="!layer.editorEnabled"/>
                              <p>{{layer.name}}</p>                                                  
                          </div>
                          
                       </form>
                  </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
                
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {               
                
            
                //BOTÕES
                console.log("BOTÕES");
                
                //Esse bloco popula o array "estado do Botao" com os dados vindo do sessionStorage
                //Aqui, fiz uma verificação apenas porque as informações estão vindo com quebra de linha mas a primeira vem sem.
                
                var estadoBotao = [];                    
                for(i = 0; i < sessionStorage.length; i++){
                    if(sessionStorage.getItem("B"+(i+1)) !== null){
                        estadoBotao[i] = sessionStorage.getItem("B"+(i+1)) //Sem quebra de linha (primeira)
                    }else if(sessionStorage.getItem("\nB"+(i+1)) !== null){
                        estadoBotao[i] = sessionStorage.getItem("\nB"+(i+1)) //Com quebra de linha (demais)
                    }
                }
                console.log(estadoBotao); // Array populada, verificação no console.
                
                //Esse bloco serve para criar os botões de acordo com as informações do array "estado do Botao"
                var botao = [];               
                for(i = 0; i < estadoBotao.length; i++){
                    if(estadoBotao[i] === "0"){
                        botao[i] = {name: "B"+(i+1), stat: 0, label: "Desligado"};
                    }else{
                        botao[i] = {name: "B"+(i+1), stat: 1, label: "Ligado"};
                    }    
                }
                $scope.buttons = botao;
                console.log($scope.buttons); // Botões, verificação no console
                
                $scope.situation= function(){
                    var vrau = this.$index;
                    if($scope.buttons[vrau].stat == 0){
                        $scope.buttons[vrau].label = "Ligado";
                        $scope.buttons[vrau].stat = 1;
                        console.log($scope.buttons[vrau]); //Verificação no console
                    }else{
                        $scope.buttons[vrau].label = "Desligado";
                        $scope.buttons[vrau].stat = 0;
                        console.log($scope.buttons[vrau]); //Verificação no console
                    }
                };
                
                
                //RANGES
                console.log("RANGES");
                
                var estadoRange = [];
                for(i = 0; i < sessionStorage.length; i++){
                    if(sessionStorage.getItem("R"+(i+1)) !== null){
                        estadoRange[i] = sessionStorage.getItem("R"+(i+1)) //Sem quebra de linha
                    }else if(sessionStorage.getItem("\nR"+(i+1)) !== null){
                        estadoRange[i] = sessionStorage.getItem("\nR"+(i+1)) //Com quebra de linha
                    }
                }
                console.log(estadoRange); // Array populada, verificação no console.
                
                var range = [];
                for(i = 0; i < estadoRange.length; i++){
                        range[i] = {name: "R"+(i+1), stat: estadoRange[i]};
                }
                $scope.ranges = range;
                console.log($scope.ranges); // Ranges, verificação no console
                                
                $scope.movimentation = function(){
                    var mov = this.$index;
                        $scope.ranges[mov].stat = document.getElementById("range").value;
                       // console.log($scope.ranges[mov]); //Verificação no console
                };
                
                
                //LAYERS
                console.log("LAYERS");
                
                var estadoLayer = [];
                for(i = 0; i < sessionStorage.length; i++){
                    if(sessionStorage.getItem("L"+(i+1)) !== null){
                        estadoLayer[i] = sessionStorage.getItem("L"+(i+1)) //Sem quebra de linha
                    }else if(sessionStorage.getItem("\nL"+(i+1)) !== null){
                        estadoLayer[i] = sessionStorage.getItem("\nL"+(i+1)) //Com quebra de linha
                    }
                }
                console.log(estadoLayer); // Array populada, verificação no console.
                
                var layer = [];
                for(i = 0; i < estadoLayer.length; i++){
                        layer[i] = {name: "L"+(i+1), stat: estadoLayer[i] + "ºC"};
                }
                $scope.layers = layer;
                console.log($scope.layers); // Layers, verificação no console
                
            });       

        </script>
    </body>
</html>